<nav class="navbar navbar-expand navbar-dark site-navbar">
  <div class="site-navbar-inner">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/posts.html">Posts</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#hiring-徵才啟事">Hiring</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#service">Service</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#publications">Publications</a></li>
    </ul>

    <span class="navbar-nav site-navbar-social">
      <a class="nav-link" href="https://orcid.org/0000-0002-3250-1331"><i class="fab fa-orcid"></i></a>
      <a class="nav-link" href="https://scholar.google.com/citations?hl=en&user=9jA3dngAAAAJ&view_op=list_works&sortby=pubdate"><i class="fab fa-google-scholar"></i></a>
      <a class="nav-link" href="https://mathstodon.xyz/@ltchen"><i class="fab fa-mastodon"></i></a>
      <a class="nav-link" href="https://github.com/L-TChen"><i class="fab fa-github"></i></a>
    </span>
  </div>
</nav>
$body$
