<nav class="navbar navbar-expand navbar-dark bg-secondary sticky-top">
  <div class="container  px-5 justify-content-between flex-column flex-sm-row">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#hiring-徵才啟事">Hiring 徵才啟事</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#service">Service</a></li>
      <li class="nav-item"><a class="nav-link" href="/index.html#publications">Publications</a></li>
    </ul>

    <span class="navbar-nav">
      <a class="nav-link" href="https://mathstodon.xyz/@ltchen"><i class="fab fa-mastodon"></i></a>
      <a class="nav-link" href="https://orcid.org/0000-0002-3250-1331"><i class="fab fa-orcid"></i></a>
      <a class="nav-link" href="https://github.com/L-TChen"><i class="fab fa-github"></i></a>
    </span>
  </div>
</nav>
$body$
